{
  "http_interactions": [
    {
      "recorded_at": "2017-05-09T02:33:16",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "grant_type=password&password=a+trivial+password&username=bigbenbot"
        },
        "headers": {
          "Authorization": [
            "Basic NkxEMXRpam56ZnEzX0E6LXBmdVVQQUVDc01iUi1sV3o2cHNnRlpuYU40"
          ],
          "Content-Type": [
            "application/x-www-form-urlencoded"
          ]
        },
        "method": "POST",
        "uri": "https://www.reddit.com/api/v1/access_token"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"access_token\": \"Mp5vztYHAHXR_C-lGQBxsQafbrw\", \"token_type\": \"bearer\", \"expires_in\": 3600, \"scope\": \"*\"}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://www.reddit.com/api/v1/access_token"
      }
    },
    {
      "recorded_at": "2017-05-09T02:33:17",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "bearer Mp5vztYHAHXR_C-lGQBxsQafbrw"
          ]
        },
        "method": "GET",
        "uri": "https://oauth.reddit.com/api/info/?id=t1_dhb7fxz&raw_json=1"
      },
      "response": {
        "body": {
          "encoding": "UTF-8",
          "string": "{\"kind\": \"Listing\", \"data\": {\"modhash\": null, \"children\": [{\"kind\": \"t1\", \"data\": {\"subreddit_id\": \"t5_3kd14\", \"banned_by\": null, \"removal_reason\": null, \"link_id\": \"t3_6a2gir\", \"likes\": null, \"replies\": \"\", \"user_reports\": [], \"saved\": false, \"id\": \"dhb7fxz\", \"gilded\": 0, \"archived\": false, \"score\": 1, \"report_reasons\": null, \"author\": \"L72_Elite_Kraken\", \"parent_id\": \"t3_6a2gir\", \"subreddit_name_prefixed\": \"r/BigBenBot\", \"approved_by\": null, \"controversiality\": 0, \"body\": \"!time right now\", \"edited\": false, \"author_flair_css_class\": null, \"downs\": 0, \"body_html\": \"\\u003Cdiv class=\\\"md\\\"\\u003E\\u003Cp\\u003E!time right now\\u003C/p\\u003E\\n\\u003C/div\\u003E\", \"can_gild\": true, \"subreddit\": \"BigBenBot\", \"name\": \"t1_dhb7fxz\", \"score_hidden\": false, \"num_reports\": null, \"stickied\": false, \"created\": 1494322637.0, \"author_flair_text\": null, \"created_utc\": 1494293837.0, \"distinguished\": null, \"mod_reports\": [], \"subreddit_type\": \"public\", \"ups\": 1}}], \"after\": null, \"before\": null}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=UTF-8"
          ],
          "X-Moose": [
            "majestic"
          ],
          "x-ratelimit-remaining": [
            "599.0"
          ],
          "x-ratelimit-reset": [
            "403"
          ],
          "x-ratelimit-used": [
            "1"
          ],
          "x-reddit-tracking": [
            "https://pixel.redditmedia.com/pixel/of_destiny.png?v=EAptEurFpcQdK34G8ifYv89OFWfKufiqkj2qIz13aRzfu%2BcaVtKG2Fp%2BoWNadHrlhw1pnS6HajUUQDF2tlENkN4OKQmUGDab"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "https://oauth.reddit.com/api/info/?id=t1_dhb7fxz&raw_json=1"
      }
    }
  ],
  "recorded_with": "betamax/0.8.0"
}